[alias]
	poule = pull
	gud = !git add -A && git commit --amend --no-edit
	psu = push --set-upstream origin HEAD
	puf = push --force-with-lease
	rbc = rebase --continue
	rbi = rebase --interactive
	aa = add -A
	br = branch
	ci = commit
	cm = commit -m
	co = checkout
        lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
	rb = rebase
	st = status
	p = push
[credential]
        helper = /usr/lib/git-core/git-credential-libsecret
[help]
	autocorrect = 1
[rerere]
	enabled = true
